<ng-template #content1 let-modal>
<div id="myModal" class="modal fade ng-scope show" role="dialog" data-backdrop="static" data-keyboard="false" style="display:block;">
    
        <div class="modal-content modal-xl modal-dialog">
            
            <div class="modal-header">
                <h6 class="modal-title ng-scope">{{address}} {{city}} {{zipcode}}</h6>
                <button type="button" class="close" data-dismiss="modal" (click)="modal.dismiss('Cross click')">×</button>
            </div>
            <div class="modal-body">
                <i style="z-index:99;float:right; cursor:pointer; display:none;" class="fas fa-angle-double-down" id="expand" onclick="CollapseAllProperty">
                    <span style="cursor:pointer; font-family: NewRailAlphabet; font-weight: 100; font-size:14px;margin-left:5px;">Expand All</span>
                </i>

                <div class="table-responsive d-none d-lg-block my-2">
                    <table class="table table-bordered" id="floor-listing-tables" >
                        <thead class="thead-style">
                            <tr class="table-header">
                                <th scope="col" class="col11 sorter-false" data-sort="text" data-alt-index="1">Floor</th>
                                <th scope="col" class="col12">Suite</th>
                                <th scope="col" class="col3">Tenant</th>
                                <th scope="col" class="col4">Lease Expiration</th>
                                <th scope="col" class="col5">Total Usable</th>
                                <th scope="col" class="col6">Stevenson Rsf</th>
                                <th scope="col" class="col7">Client Rsf</th>
                                <th scope="col" class="col8">Opportunity Rsf</th>   
                                <th scope="col" class="col9">Opportunity Percent</th>
                                <th scope="col"> <i class="fa fa-filter fa-lg" style=" position: relative;
                                    left: 10px;"></i></th>
                            </tr>
                        </thead>
                        
                        <tbody class="c0 tbody">
                            <tr *ngFor="let tenantlog of tenantLog" class="static">
                                <td class="text-center">
                                    <i style="position: absolute; left: 7px; z-index: 99;" class="fa fa-plus-circle plus" hidden=""></i>
                                    <i style="position: absolute; left: 7px; z-index: 99;" class="fa fa-minus-circle minus"></i>
                                    {{tenantlog.floor}}
                                </td>
                                <td class="text-center">{{tenantlog.suite}}</td>
                                <td class="text-center">{{tenantlog.tenant}}</td>
                                <td class="text-center">{{tenantlog.lease}}</td>   
                                <td class="text-center">{{tenantlog.total}}</td>
                                <td class="text-center">{{tenantlog.stevenrsf}}</td>
                                <td class="text-center">{{tenantlog.clientrsf}}</td>
                                <td class="text-center"><span style="background-color:  #008000; color: white; padding: 2px 20px; width:84.03px; height:21px;">{{tenantlog.oppursf}}<i class="fa fa-arrow-up"></i></span></td>
                                <td class="text-center"><span style="background-color:#FF0000;; color: white; padding: 2px 20px; width:84.03px; height:21px;">{{tenantlog.oppupercent}}<i class="fa fa-arrow-down"></i></span> </td>
                                <td> </td>
                            </tr>
                            <tr *ngFor="let tenantspec of tenantSpec" class="related0 related" style="background-color:#eaeaea">
                                <td class="text-center"></td>
                                <td class="text-center">{{tenantspec.suite}}</td>
                                <td class="text-center">{{tenantspec.tenant}}</td>
                                <td class="text-center date">{{tenantspec.lease}}</td>
                                <td class="text-center">{{tenantspec.total}}</td>
                                <td class="text-center">{{tenantspec.stevenrsf}}</td>
                                <td class="text-center">{{tenantspec.clientrsf}}</td>
                                <td class="text-center"><span style="background-color:  #008000; color: white; padding: 2px 20px; width:40%;">{{tenantspec.oppursf}}<i class="fa fa-arrow-up"></i></span></td>
                                <td class="text-center"><span style="background-color:#FF0000;; color: white; padding: 2px 20px;width:40%;">{{tenantspec.oppupercent}}<i class="fa fa-arrow-down"></i></span> </td>
                                <td> <i class="fa fa-eye fa-lg" style=" position: relative;
                                    bottom: 10px;"></i>  </td>
                            </tr>
                        </tbody>

                        <tbody class="c1 tbody">
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
    
</div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
  </ng-template>

  <!-- <button class="btn btn-lg btn-outline-primary" (click)="open(content1)">Tenant Log</button> -->
  <i (click)="open(content1)" class="fa fa-id-badge fa-lg" style=" position: relative;
  bottom: 85px;"></i>
  <hr>
  
  <pre>{{ closeResult }}</pre>