<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title" style="left:20px; margin:auto;">Invite</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form>
        <div class="mb-3">
          <label for="email">Email</label>
          <div class="input-group">
            <input id="email" class="form-control"  name="dp">
          </div>
        </div>
        <div class="mb-3">
          <label for="company">Company</label>
          <div class="input-group">
            <input style="background: #DBDBDB;
            border: 1px solid #C4C4C4;
            box-sizing: border-box;" id="company" class="form-control"  name="dpp">
            
          </div>
        </div>
        <div class="mb-3">
          <label for="access">Access Level:</label>
          <div class="input-group">
              <div class="dropdown" style="width:200px;">
              <select class="dropdown"name="dog-names" id="dog-names" style="width:466px; border: 1px solid #C4C4C4;
              box-sizing: border-box; height:40px;">
              <option *ngFor=" let roleinfo of roleInfo">
                  {{roleinfo.role}}
              </option>      
            </select>
          </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Submit</button>
    </div>
  </ng-template>
  
 
  <!-- <i (click)="open(content)" class="fa fa-filter fa-lg"></i> -->
  <i (click)="open(content)" class="fa fa-bars"  style=" position: relative;
  bottom: -12px;"></i>
  
 
       
        
  <pre>{{ closeResult }}</pre>